/* / ------- sub nav -------- / */
.sub-header {
    background-color: #fff;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

.sub-header li,
.email {
    font-size: 14px;
    color: #7a7a7a;
    display: flex;
}

.sub-header ul,
.sub-header i {
    font-size: 20px;
    color: #f35525;
    display: flex;
}

.social-icon i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #cdcdcd;
    border-radius: 50%;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    transition: all .3s;
}

.social-icon li a {
    transition: all .3s;
}

.social-icon li i:hover {
    background-color: #f35525;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f35525;
}


/* / ------- main header -------- / */
.main-header {
    position: relative;
    background-color: #fff;
    height: 100px;
    z-index: 100;
    
}

.logo-img {
    height: 3rem;
}

.visit-icon {
    background-color: #f35525;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    margin-left: -1px;
}

/* / -------- Banner -------- / */
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.carousel-caption h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.canada {
    color: #f35525;
}

.banner-text h2 {
    background-color: #fff;
    font-size: 16px;
    padding: 6px 15px;
    width: 10rem;
}

.banner-text h1 {
    text-transform: uppercase;
    text-align: left;
    font-size: 5vw;
    color: #fff;
    margin-bottom: 0px;
}

.banner-text {
    text-align: left !important;
}

/* featured */
.featured-icon {
    position: relative;
}

.featured-icon img {
    width: 100%;
}
.png {
    position: absolute;
    bottom: -45px;
    left: -52px;
    border: 22px solid #f35525;
    border-radius: 50%;
    transform: translate(10%, -10%);
    background-color: #f35525;
}
.section-heading h2 {
    font-size: 1.5rem;
}
.useful-links h6 {
    font-size: 1rem;
}
.useful-links p {
    font-size: 0.875rem;
}
.useful-links code {
    font-size: 0.875rem;
}
.info-text h4 {
    font-size: 1rem;
}
.info-text span {
    font-size: 0.875rem;
}


/* Best Useful Links */

.link-1 {
    background-color: #9e9c9c1f;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
    width: 100%;
    border: 0;
    color: orangered;
    font-size: 20px;
    padding: 14px 0;
}

.accordion-body {
    background-color: #9e9c9c1f;
}



/* Banner */

.videoview{
    height: 400px;
    background: url(/Images/video-bg.jpg);
   }

.smallheading{
    color: #f35525;
    font-size: 20px;
    margin-left: 90px;
   }
   .videoimg{
    width: 100%;
    margin-top: -180px;
   }
   

   .vbtn {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -150px;
    /* color: #eee; */
    border-radius: 40px;
    border: none;
    background-color: #eee;
    outline: 18px solid #f355257d;
  }

.cards-property-fix {
    margin-top: 4rem;
    margin-right: 40px;
}

.video-frame img {
    border-radius: 10px;
}

.video-view-card {
    background-color: #ffeee9;
    border-radius: 10px;
    width: 270px;
    padding: 20px;
    border: 0;
}
.video-view-card h2 {
    font-size: 40px;
    color: #f35525;
}
.below {
    text-align: left;
    font-size: 16px;
    color: #1e1e1e;
    line-height: 25px;
}


/* ----------- Best Deal -------- */
.best-deal {
    background-color: #fafafa;
    padding-top: 100px;
}
.apartment-container span {
    background-color: #f0b9a8;
    border-radius: 5px;
    padding: 5px 12px;
    display: inline-block;
}

.apartment-container p {
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}

.best-nav li button{
    padding:8px!important;
}


/* .video-view-card {
    background-color: #ffeee9;
    border-radius: 10px;
    width: 270px;
    padding: 20px;
    border: 0;
}
.video-view-card h2 {
    font-size: 40px;
    color: #f35525;
}
/* Properties */

.propert-txt{
    color: #f35525;
}  

/* Get In Touch */

.contact-section {
    background-image: url(/images/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 550px;
}

.contact-map-form {
    position: relative;
    margin-top: -15rem;
    z-index: 1;
}

.contact-heading {
    margin-top: 100px;
}

/* / ------------- Contact Us ------------ / */

.heading {
    margin-bottom: 40px;
    margin-right: 280px;
}

.heading h6 {
    color: rgb(238, 98, 107);
    font-size: 15px;
    font-weight: bold;
}

.heading h2 {
    font-weight: bold;
    margin-top: 20px;
}

.phone,
.email {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px;
    padding: 35px 30px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    min-width: 360px;
}

.email img,
.phone img {
    float: left;
    margin-right: 25px;
}

.email h6,
.phone h6 {
    font-weight: bold;
    color: black;
    text-align: start;
}

.email span,
.phone span {
    text-align: start;
}

.contact-page,
#contact-form {
    /* margin-left: 30px; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px;
    padding: 35px 30px;
    background-color: rgb(255, 255, 255);
}

.contact-page #contact-form input {
    width: 100%;
    height: 44px;
    border-radius: 22px;
    background-color: rgb(246, 246, 246);
    border: none;
    margin-bottom: 30px;
    font-size: 14px;
    padding: 0px 15px;
}

.contact-page #contact-form textarea {
    width: 100%;
    height: 130px;
    max-height: 180px;
    border-radius: 22px;
    background-color: rgb(246, 246, 246);
    border: none;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 15px;
}

.contact-page #contact-form button {
    background-color: rgb(30, 30, 30);
    height: 44px;
    border-radius: 22px;
    padding: 0px 20px;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease 0s;
}
/* -------- Footer --------- */
.footer-p {
    margin-top: 150px;
    background-color: #1e1e1e;
    
}
.footer-p p {
    text-align: center;
    line-height: 40px;
}




/* Media Query */

@media (max-width: 520px) {
    .vbtn{
        width: 40px;
         height: 40px;
        top: -95px;
    
        border-radius: 40px;
        border: none;
        background-color: #eee;
        outline: 10px solid #f355257d;

    }

    .videoimg{
        width: 100%;
        margin-top: -100px;
       }
       
       .videoview{
        height: 250px;
        
       }

       .smallheading{
        color: #f35525;
        font-size: 20px;
        margin-left: 30px;
       }
}
